/* --- woocommerce --- */
.woocommerce div.col2-set.addresses
{
	margin-top: 20px;
}
.woocommerce-account .addresses .title h3
{
	float: left;
	margin-top: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle
{
	top: -3px;
}
.woocommerce input[type=number]::-webkit-inner-spin-button, 
.woocommerce input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.woocommerce #reviews #comments ol.commentlist
{
	padding: 0;
}
.woocommerce table.cart .product-thumbnail a,
div.pp_woocommerce .pp_next,
div.pp_woocommerce .pp_previous
{
	border: none;
}
.woocommerce-checkout #payment .payment_method_paypal .about_paypal
{
	line-height: 150%;
}
.woocommerce-Price-amount.amount
{
	color: #000;
}
.woocommerce ul.products li.product h3
{
	font-size: 24px;
	line-height: 1.5;
	padding: 0;
	margin-bottom: 10px;
	transition: color 0.2s ease 0s;
	-webkit-transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
}
.woocommerce ul.products li.product h3:hover
{
	text-decoration: none;
	color: rgba(0,0,0,0.6);
}
.woocommerce ul.products li.product a img
{
	opacity: 1;
	transition: opacity 0.4s ease-in-out 0s;
	margin: 0 0 20px;
}
.woocommerce ul.products li.product a:hover img,
.woocommerce ul.cart_list li a:hover img, 
.woocommerce ul.product_list_widget li a:hover img
{
	opacity: 0.8;
	transition: opacity 0.4s ease-in-out 0s;
}
.woocommerce .product-categories
{
	list-style-type: none;
    margin: 20px 0 0;
	padding: 0;
}
.woocommerce .product-categories li
{
	float: left;
	font-size: 12px;
	line-height: 1;
	color: #666;
	margin-right: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}
.woocommerce .product-categories li a
{	
	display: block;
	color: #666;
	padding: 13px 15px 14px;
	border: 1px solid #E5E5E5;
}
.woocommerce .product-categories li a:hover
{
	color: #FFF;
	border-color: #42B3E5;
	background: #42B3E5;
}
.woocommerce-pagination .prev,
.woocommerce-pagination .next
{
	/*width: 29px;*/
	text-align: center;
}
.woocommerce nav.woocommerce-pagination
{
	text-align: left;
}
.woocommerce nav.woocommerce-pagination ul
{
	border: none;
	margin: 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers
{
	clear: both;
}
.woocommerce .woocommerce-pagination ul.page-numbers li
{
	float: left;
	margin-left: 10px;
	border: none;
}
.woocommerce .woocommerce-pagination ul.page-numbers li:first-child
{
	margin-left: 0;
}
.woocommerce .woocommerce-pagination ul.page-numbers li a,
.woocommerce .woocommerce-pagination ul.page-numbers li span,
.woocommerce .woocommerce-pagination ul.page-numbers li a:focus
{
	display: block;
	color: #666;
	background: transparent;
	width: 37px;
	padding: 9px 0 8px;
	font-size: 12px;
	line-height: 1.83334;
	border: 1px solid #E5E5E5;
	text-align: center;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	min-width: auto;	
}
.woocommerce .woocommerce-pagination ul.page-numbers li a
{
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
}
.woocommerce .woocommerce-pagination ul.page-numbers li a:hover,
.woocommerce .woocommerce-pagination ul.page-numbers li a.current,
.woocommerce .woocommerce-pagination ul.page-numbers li span.current
{
	border-color: #42B3E5;
	background: #42B3E5;
	color: #FFF;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li
{
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before
{
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:before
{
	box-shadow: none;
	border: none;
	content: '';
	bottom: 0;
	height: auto;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active
{
	background: transparent;
	z-index: 0;
}
.woocommerce div.product .woocommerce-tabs.wc-tabs-wrapper ul.tabs
{
	overflow: visible;
	border: none;
}
.woocommerce div.product .woocommerce-tabs
{
	width: 100%;
	padding: 0;
	margin: 0 0 -15px;
	list-style: none;
	background: none;
	border: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs
{
	border-bottom: 1px solid #E5E5E5;
	margin: 0;
	padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li
{
	position: relative;
	float: left;
	padding: 0;
	border: none;
	list-style: none;
	text-align: center;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a
{
	position: relative;
	width: auto;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #25282A;
	padding: 8px 15px 11px;
	border: none;
	background: #F0F0F0;
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	line-height: normal;
	outline: none;
	text-decoration: none;
	transition: none;
	line-height: 1;
	border-right: 1px solid #E0E0E0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active span
{
	display: inline;
	position: relative;
	border-style: solid;
	border-width: 9px 9px 0;
	border-color: #42B3E5 transparent;
	bottom: -9px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li
{
	margin: 5px 10px -1px 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:last-child
{
	margin-right: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a
{
	font-size: 16px;
	padding: 14px 17px 16px;
	margin-bottom: 1px;
	background: none;
	border-right: none;
	color: #666;
	font-weight: normal;
	border-bottom: 1px solid #E0E0E0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a.selected,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a
{
	border-bottom: 2px solid #42B3E5;
	padding-bottom: 15px;
	background: none;
	color: #000;
}
.woocommerce div.product .woocommerce-tabs .woocommerce-Tabs-panel p
{
	margin-top: 10px;
}
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.altm,
.woocommerce .widget_product_search form input[type='submit'],
.woocommerce .cart .coupon input.button,
.woocommerce .button.add_to_cart_button.loading
{	
	display: block;
	color: #fff; 
	float: right;
	font-size: 14px;
	padding: 12px 19px;
	text-align: center;
	cursor: pointer;
	background: #3156A3;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	font-weight: normal;
	border: 1px solid #3156A3;
	line-height: normal;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce .widget_price_filter .price_slider_amount .button,
.woocommerce .widget_product_search form input[type='submit'],
.woocommerce div.product form.cart .button.single_add_to_cart_button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce #payment #place_order,
.woocommerce .cart input.button,
.woocommerce .button.wc-forward
{
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: normal;
	text-transform: uppercase;
	background: #3156A3;
	border: 1px solid #3156A3;
}
.woocommerce-cart .woocommerce .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce .widget_price_filter .price_slider_amount .button:hover,
.woocommerce .widget_product_search form input[type='submit']:hover,
.woocommerce div.product form.cart .button.single_add_to_cart_button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.woocommerce #payment #place_order:hover,
.woocommerce .cart input.button:hover,
.woocommerce .button.wc-forward:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce .cart .coupon input.button:hover
{
	color: #FFF;
	background: #42B3E5;
	border: 1px solid #42B3E5;
}
.woocommerce #respond input#submit.added::after, 
.woocommerce a.button.added::after, 
.woocommerce button.button.added::after, 
.woocommerce input.button.added::after
{
	vertical-align: unset;
}
.woocommerce .star-rating:before
{
	color: #F0F0F0;
	content: "SSSSS";
}
body.woocommerce-page .star-rating, .woocommerce .star-rating
{
	color: #FFA838;
}
.woocommerce .woocommerce-product-rating .star-rating
{
	margin: 0 30px 0 0;
}
.woocommerce .woocommerce-product-rating
{
	line-height: 1;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price, 
.woocommerce div.product span.price,
.woocommerce .widget_top_rated_products .amount
{
	color: #666;
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
}
.woocommerce div.product p.price, 
.woocommerce div.product span.price
{
	font-size: 24px;
}
.woocommerce div.product p.price ins, 
.woocommerce div.product span.price ins
{
	font-weight: 300;
	text-decoration: none;
}
.woocommerce ul.products li.product .price del,
.woocommerce .widget_top_rated_products del
{
	float: left;
	opacity: 0.5;
	color: #999;
}
.woocommerce ul.products li.product .price ins,
.woocommerce .widget_top_rated_products ins
{
	margin-left: 5px;
	font-weight: 300;
	text-decoration: none;
	color: #666;
}
.woocommerce ul.products li.product .price ins:before,
.woocommerce .widget_top_rated_products ins:before
{
	content: "/";
	margin-right: 5px;
}
.woocommerce span.onsale
{
	background-color: #3156A3;
	z-index: 1;
	padding: 0;
}
.woocommerce ul.products li.product .button
{
	margin-top: 30px;
	width: 100%;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
	width: 30.05%;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering
{
	float: none;
}
.woocommerce .products ul, .woocommerce ul.products
{
	margin: 0;
}
.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count
{
	margin: 0;
}
.woocommerce .woocommerce-ordering select
{
	color: #666;
	border: 1px solid #F0F0F0;
	padding: 12px 5px;
	font-size: 13px;
}
.woocommerce .woocommerce-result-count, .woocommerce-page .woocommerce-result-count
{
	float: right;
	font-size: 14px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product
{
	width: 285px;
	margin: 30px 30px 0 0;
}
.woocommerce .related ul li.product, .woocommerce .related ul.products li.product, .woocommerce .upsells.products ul li.product, .woocommerce .upsells.products ul.products li.product, .woocommerce-page .related ul li.product, .woocommerce-page .related ul.products li.product, .woocommerce-page .upsells.products ul li.product, .woocommerce-page .upsells.products ul.products li.product
{
	width: 285px;
	margin: 30px 30px 0 0;
}
.woocommerce .related ul.products li.product:nth-child(3n)
{
	margin-right: 0;
}
.woocommerce .cart-collaterals .cross-sells ul.products li, .woocommerce-page .cart-collaterals .cross-sells ul.products li,
.woocommerce-cart .cart-collaterals .cross-sells ul.products li.product
{
	width: 285px;
	margin: 30px 30px 0 0;
}
.woocommerce ul.products li.last, .woocommerce-page ul.products li.last, .woocommerce .related ul li.product.last,
.woocommerce .cart-collaterals .cross-sells ul.products li.last, .woocommerce-page .cart-collaterals .cross-sells ul.products li.last
{
	margin-right: 0;
}
.woocommerce div.product div.summary
{
	margin-bottom: 50px;
}
.woocommerce nav.woocommerce-pagination
{
	margin-top: 30px;
	float: right;
}
.woocommerce div.product .product_title
{
	margin: 0 0 15px 0;
}
.woocommerce div.product .woocommerce-product-rating
{
	margin: 0 0 20px 0;
}
.woocommerce div.product p.price, .woocommerce div.product span.price
{
	padding: 0;
	margin-bottom: 20px;
}
.woocommerce div.product .description
{
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.woocommerce div.product .comment-text .description
{
	border-bottom: none;
	padding: 20px 0 0;
}
.woocommerce div.product .comment-text .description p
{
	padding: 0;
}
.woocommerce div.product .description p
{
	padding: 20px 0;
}
.woocommerce div.product form.cart .variations label
{
	font-weight: 400;
}
.woocommerce div.product .variations .reset_variations
{
	display: none !important;
}
.woocommerce div.product form.cart .variations select
{
	padding: 12px 5px;
	color: #666;
	border: 1px solid #F0F0F0;
	margin: 0;
}
.woocommerce div.product .woocommerce-variation-price p.price, .woocommerce div.product .woocommerce-variation-price span.price
{
	display: block;
}
.woocommerce div.product form.cart .variations td, 
.woocommerce div.product form.cart .variations th
{
	vertical-align: middle;
}
.woocommerce div.product form.cart table td.value
{
	text-align: right;
	padding-left: 0;
	padding-right: 0;
}
.woocommerce div.product form.cart
{
	margin: 30px 0px 30px 0;
}
.woocommerce div.product form.cart div.quantity
{
	margin: 0 10px 0 0;
}
.woocommerce #content div.product div.thumbnails a,
.woocommerce div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a
{
	border: none;
}
.woocommerce .posted_in
{
	color: #999;
}
.woocommerce .posted_in a
{
	color: #999;
	border-bottom: none;
}
.woocommerce .posted_in a:hover
{
	color: #3156A3;
}
.woocommerce #respond input#submit.loading:after, .woocommerce a.button.loading:after, .woocommerce button.button.loading:after, .woocommerce input.button.loading:after
{
	content: "";
}
.woocommerce #respond input#submit.loading, .woocommerce a.button.loading, .woocommerce button.button.loading, .woocommerce input.button.loading
{
	padding: 5px 8px 7px;
}
.woocommerce a.added_to_cart
{
	display: none;
}
.woocommerce .quantity .qty,
.woocommerce-cart table.cart td.actions .coupon .input-text
{
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	border: none;
	padding: 11px 18px;
	line-height: normal;
}
.woocommerce-cart form table.cart td.actions .coupon .input-text
{
	width: 150px;
	margin-right: 10px;
}
.woocommerce-cart form table.cart td.actions .coupon .input-text,
.woocommerce form.checkout_coupon #coupon_code
{
	padding-top: 12px;
	padding-bottom: 12px;
}
.woocommerce #reviews #comments
{
	margin-top: 30px;
}
.woocommerce #reviews #comments ol.commentlist li
{
	margin: 0 0 30px;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar
{
	position: static;
	width: 100px;
	border: none;
	padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta
{
	font-size: 14px;
	padding-top: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p
{
	margin: 0;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text
{
	margin-left: 130px;
	border: none;
	padding: 0;
}
.woocommerce #reviews #comments ol.commentlist li .meta
{
	color: #999;
}
.woocommerce #review_form_wrapper
{
	margin-top: 20px;
}
#review_form textarea:focus
{
	background: transparent;
	padding: 14px 19px;
	border: 1px solid #E5E5E5;
}
.woocommerce #review_form_wrapper .comment-form-comment #comment.hint
{
	color: #999;
}
.woocommerce #review_form_wrapper #review_form p.form-submit
{
	margin-top: 10px;
	padding: 0;
}
.woocommerce  #review_form_wrapper .comment-form-rating label
{
	float: left;
	margin: -2px 30px 8px 0;
	color: #999;
}
.woocommerce  #review_form_wrapper .comment-form-rating .stars
{
	float: left;
}
.woocommerce  #review_form_wrapper form input[type='submit']
{
	width: auto;
}
.woocommerce  #review_form_wrapper .comment-form-comment
{
	padding: 0;
}
.woocommerce  #review_form_wrapper .comment-form-comment label
{
	display: none;
}
.woocommerce  #review_form_wrapper .comment-form-comment #comment
{
	height: 105px;
	margin-bottom: 0;
}
.woocommerce .comment-reply-title::after
{
	content: "";
	display: block;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #42B3E5;
	margin-top: 10px;
}
.woocommerce h2.box-header,
.woocommerce h3.box-header,
.woocommerce h4.box-header,
.woocommerce .comment-reply-title,
.woocommerce .related.products h2,
.woocommerce-account .woocommerce h2,
.woocommerce-checkout .woocommerce h2,
.upsells.products h2,
.woocommerce-account .title h3,
.woocommerce-checkout .title h3
{
	font-size: 18px;	
}
.woocommerce #review_form #respond p
{
	margin: 0;
	padding: 0;
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message
{
	border-top: none;
	border-left: 3px solid #42B3E5;
	background: #F0F0F0;
	padding: 34px 25px 25px 70px !important;
	line-height: 150%;
	min-height: 90px;
	color: #25282A;
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before
{
	top: 35px;
	font-size: 22px;
}
.woocommerce .woocommerce-error .button, .woocommerce .woocommerce-info .button, .woocommerce .woocommerce-message .button
{
	margin-top: -12px;
}
.woocommerce mark
{
	background: #42B3E5;
}
.woocommerce #review_form #respond .form-submit input
{
	float: right;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs .panel
{
	margin: 0;
}
.woocommerce .cart .button, .woocommerce .cart input.button
{
	float: right;
}
.woocommerce table.shop_table,
.woocommerce-cart .cart-collaterals .cart_totals table
{
	border-collapse: collapse;
	border: 1px solid #E5E5E5;
}
.woocommerce table.shop_table strong
{
	color: #666;
}
.woocommerce table.shop_table th,
.woocommerce-cart .cart-collaterals .cart_totals table th
{
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: normal;
	background-color: #F0F0F0;
}
.woocommerce table.shop_table th,
.woocommerce table.shop_table td
{
	padding: 12px;
	border: 1px solid #E5E5E5;
}
.woocommerce table.shop_table.cart tr:nth-child(even),
.woocommerce table.cart_totals_table td:nth-child(even),
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr.cart-subtotal,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table tr.order-total
{ 
	background-color: #F0F0F0; 
}
.woocommerce table tr:nth-child(2n+1),
.woocommerce table.cart_totals_table td:nth-child(even),
.woocommerce table.shop_table.cart tr:last-child
{
	background-color: transparent;
}
.woocommerce table.shop_table tr:last-child td
{
	padding: 12px;
}
.woocommerce-cart table.cart img
{
	width: 100px;
}
.woocommerce-cart .cart-collaterals .cart_totals table th,
.woocommerce-cart .cart-collaterals .cart_totals table td
{
	padding: 12px;
	vertical-align: middle;
}
.woocommerce .quantity input
{
	line-height: 1;
	vertical-align: middle;
}
.woocommerce .quantity .qty
{
	width: 30px;
	height: 24px;
	appearance: textfield;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background: transparent;
	border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
}
.woocommerce .quantity .plus,
.woocommerce .quantity .minus
{
	width: 44px;
	height: 48px;
	border: 1px solid #E5E5E5;
	background: transparent;
	cursor: pointer;
	padding: 10px 13px 13px;
}
.woocommerce .quantity .plus:hover,
.woocommerce .quantity .minus:hover
{
	color: #FFF;
	background: #42B3E5;
	border-color: #42B3E5;
}
.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells
{
	width: 100%;
}
.woocommerce-message a,
.woocommerce-info a,
.woocommerce-error a,
.woocommerce-review-link,
.woocommerce-checkout #payment .payment_method_paypal .about_paypal
{
	color: #3156A3;
}
.woocommerce a.remove
{
	color: #3156A3 !important;
	font-weight: 400;
}
.woocommerce a.remove:hover
{
	background: #42B3E5;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button
{
	float: right;
	margin: 0;
}
.woocommerce-cart .wc-proceed-to-checkout
{
	padding: 0;
}
.woocommerce .widget_price_filter form,
.woocommerce .widget_product_search form
{
	margin-top: 30px;
}
.woocommerce .widget_price_filter .price_slider_amount .price_label
{
	float: left;
	font-size: 14px;
}
.woocommerce .widget_price_filter .price_slider_amount .button
{
	float: right;
	margin-top: 10px;
	padding: 8px 16px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content
{
	background: #F0F0F0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range
{
	background: #3156A3;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle
{
	background: #FFF;
	border: 2px solid #3156A3;
}
.woocommerce .widget_product_search form .screen-reader-text
{
	display: none;
}
.woocommerce .widget_product_search form .search-field
{	
	width: 100%;
	padding: 13px 22px;
	color: #000;
	margin: 0;
	background: #F0F0F0;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.woocommerce .widget_product_search form input[type='submit']
{
	float: right;
	cursor: pointer;
	margin-top: 10px;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img
{
	float: left;
	width: 100px;
	margin-left: 0;
	margin-right: 20px;
}
.woocommerce ul.cart_list li, .woocommerce ul.product_list_widget li
{
	padding: 0;
	margin-top: 30px;
}
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a
{
	font-size: 18px;
	font-family: 'Source Sans Pro', 'Arial', sans-serif;
	font-weight: 400;
	line-height: 1.55556;
	color: #000;
	margin-bottom: 10px;
	border: none;
}
.woocommerce ul.cart_list li a:hover, .woocommerce ul.product_list_widget li a:hover
{
	text-decoration: underline;
}
.woocommerce .widget_top_rated_products .star-rating
{
	margin-bottom: 15px;
}
.woocommerce .widget_top_rated_products .amount
{
	font-size: 18px;
}
.woocommerce .button.wc-backward
{
	float: left;
}
.woocommerce #review_form p.stars a
{
	color: #FFA838;
	border: none;
}
.woocommerce .comment-text .star-rating
{
	top: 3px;
}
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after
{
	font-family: 'star';
	font-weight: 400;
	color: #F0F0F0;
}
.woocommerce p.stars a.star-1:after
{
	content: "S";
}
.woocommerce p.stars a.star-1.active:after, .woocommerce p.stars a.star-1:hover:after
{
	content: "S";
	color: #FFA838;
}
.woocommerce p.stars a.star-2:after
{
	content: "SS";
}
.woocommerce p.stars a.star-2.active:after, .woocommerce p.stars a.star-2:hover:after
{
	content: "SS";
	color: #FFA838;
}
.woocommerce p.stars a.star-3:after
{
	content: "SSS";
}
.woocommerce p.stars a.star-3.active:after, .woocommerce p.stars a.star-3:hover:after
{
	content: "SSS";
	color: #FFA838;
}
.woocommerce p.stars a.star-4:after
{
	content: "SSSS";
}
.woocommerce p.stars a.star-4.active:after, .woocommerce p.stars a.star-4:hover:after
{
	content: "SSSS";
	color: #FFA838;
}
.woocommerce p.stars a.star-5:after
{
	content: "SSSSS";
}
.woocommerce p.stars a.star-5.active:after, .woocommerce p.stars a.star-5:hover:after
{
	content: "SSSSS";
	color: #FFA838;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit[disabled]:disabled, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button[disabled]:disabled, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button[disabled]:disabled, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button[disabled]:disabled,
.woocommerce #respond input#submit.disabled:hover, .woocommerce #respond input#submit:disabled:hover, .woocommerce #respond input#submit[disabled]:disabled:hover, .woocommerce a.button.disabled:hover, .woocommerce a.button:disabled:hover, .woocommerce a.button[disabled]:disabled:hover, .woocommerce button.button.disabled:hover, .woocommerce button.button:disabled:hover, .woocommerce button.button[disabled]:disabled:hover, .woocommerce input.button.disabled:hover, .woocommerce input.button:disabled:hover, .woocommerce input.button[disabled]:disabled:hover
{
	cursor: pointer;
	opacity: 1;
	background: #F0F0F0;
	color: #E0E0E0;
	border: 1px solid #F0F0F0;
	padding: 12px 19px;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register,
.select2-container .select2-choice
{
	border-color: #E5E5E5;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.woocommerce form.login .form-row label.inline
{
	display: block;
}
.woocommerce .login .button
{
	margin-top: 10px;
}
.select2-container .select2-choice
{
	border: none;
	background: #F0F0F0;
	padding: 8px 20px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices
{
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.select2-dropdown-open .select2-choice
{
	box-shadow: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b:after
{
	margin-top: -2px;
}
.select2-drop
{
	border-color: #E5E5E5;
}
.woocommerce-checkout #payment
{
	background: #F0F0F0;
	border: 1px solid #E5E5E5;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.woocommerce #customer_details .box-header,
.woocommerce-account .woocommerce h2,
.woocommerce-checkout .woocommerce h2
{
	margin-bottom: 25px;
}
.woocommerce-account .woocommerce h2,
.woocommerce-checkout .woocommerce h2,
.upsells.products h2
{
	margin-top: 20px;
}
.woocommerce-checkout .woocommerce h2::after
{
	content: "";
	display: block;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #42B3E5;
	margin-top: 10px;
}
.woocommerce-account .box-header
{
	/*margin-bottom: 30px;*/
}
.woocommerce-checkout #payment ul.payment_methods
{
	border-color: #E5E5E5;
}
.woocommerce .order_details,
.woocommerce table.shop_table.order_details,
.woocommerce table.shop_table.customer_details,
.woocommerce .shop_table.my_account_orders
{
	margin: 10px 0 50px;
	padding: 0;
}
.woocommerce .woocommerce-checkout-review-order,
.woocommerce table.shop_table.order_details,
.woocommerce table.shop_table.customer_details
{
	margin-top: 30px;
}
.woocommerce table.shop_table.my_account_orders
{
	margin-top: 0;
}
.woocommerce table.my_account_orders .button
{
	float: none;
}
.woocommerce-account address,
.woocommerce-checkout address,
.woocommerce-order-received address
{
	margin-top: 30px;
	line-height: 150%;
	font-style: normal;
}
.woocommerce-account .title h3
{
	float: none;
	margin-top: 20px;
}
.woocommerce-MyAccount-content p:first-child
{
	padding-top: 0;
}
.woocommerce form.edit_address .box-header,
.woocommerce form.edit-account .box-header
{
	margin-bottom: 30px;
}
.woocommerce .product-categories li a:hover
{
	text-decoration: none;
}
.widget.mc_cart_icon_widget
{
	overflow: visible;
}
span.cart-items-number
{
	position: absolute;
	display: block;
	top: -8px;
	right: -6px;
	width: 16px;
	height: 16px;
	background: #42B3E5;
	font-family: arial;
	font-size: 10px;
	text-align: center;
	line-height: 14px;
	color: #FFF;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
span.cart-items-number.cart-empty
{
	background: #F0F0F0;
	color: #999;
}
.woocommerce form .form-row
{
	padding: 0;
	margin: 0;
}
.woocommerce form .form-row label
{
	color: #999;
}
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea,
.woocommerce .comment-form input,
.woocommerce #review_form_wrapper .comment-form-comment #comment,
.woocommerce-cart table.cart td.actions .coupon .input-text
{	
	width: 100%;
	padding: 13px 22px;
	line-height: 1.71429;
	color: #000;
	margin: 0;
	background: #F0F0F0;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.woocommerce form .form-row textarea
{
	height: 150px;
}
.woocommerce .comment-form label,
.woocommerce form .form-row label
{
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1.83334;
	margin-top: 8px;
	margin-bottom: 8px;
}
#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box
{
	background: #F8F8F8;
}
#add_payment_method #payment div.payment_box::before, .woocommerce-cart #payment div.payment_box::before, .woocommerce-checkout #payment div.payment_box::before
{
	border-color: transparent transparent #F8F8F8;
}