/* FontAwesome  */
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  btMedical (custom icons set by Bold Themes) */
@font-face {
    font-family: 'btmedical';
    src:url('../fonts/btmedical.eot?uxxznt');
    src:url('../fonts/btmedical.eot?uxxznt#iefix') format('embedded-opentype'),
    url('../fonts/btmedical.ttf?uxxznt') format('truetype'),
    url('../fonts/btmedical.woff?uxxznt') format('woff'),
    url('../fonts/btmedical.svg?uxxznt#btmedical') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*  7-stroke (http://themes-pixeden.com/font-demos/7-stroke/index.html) */
@font-face {
    font-family: 'Icon7Stroke';
    src:url('../fonts/Pe-icon-7-stroke.eot?d7yf1v');
    src:url('../fonts/Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'),
    url('../fonts/Pe-icon-7-stroke.woff?d7yf1v') format('woff'),
    url('../fonts/Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'),
    url('../fonts/Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Variables */ 

@set headingFont Montserrat, Arial, sans-serif; // Headline font
@set headingSuperTitleFont Source Serif Pro, Arial, sans-serif; // Headline supertitle font
@set headingSubTitleFont Source Serif Pro, Arial, sans-serif; // Headline subtitle font
@set menuFont Montserrat, Arial, sans-serif; // Base font
@set bodyFont Montserrat, Arial, sans-serif; // Base font
@set bodyFontSize 13; // Base font size

@set lightFontColor #444; // Base font color
@set lightHeadlineColor #222; // Base headline color
@set lightBgColor #fff; // Base bg color
@set lightBorderColor rgba(0,0,0,0.1); // Base border color
@set lightBgSubColor rgba(0,0,0,0.07);  // Sub bg color

@set darkFontColor #fff; // Base font color
@set darkHeadlineColor #fff; // Base headline color
@set darkBgColor #1d1f27; // Base bg color
@set darkBorderColor rgba(255,255,255,0.1); // Base border color
@set darkBgSubColor rgba(255,255,255, 0.075);  // Sub bg color

@set accentColor #0cb8b6; // Main color
/*@set accentColorHover #0ba5a3; // Main color hover*/
@set alterColor #f36438; // Alternate color
/*@set alterColorHover #da5a32; // Alternate color  hover*/


@set accentColorHover hsl-adjust( $(accentColor) 0 -35 0 ); // Main color
@set alterColorHover hsl-adjust( $(alterColor) 0 -20 -10 ); // Main color


@set sidebarWidth 33.3333; // Sidebar width (%)
@set sidebarPadding 40px; // Padding between sidebar and sontent
@set pagePadding 20; // Left and right page padding for boxed content
@set innerVerticalPadding 20; // Top and bottom padding between content elements (base value)
@set innerHorizontalPadding 15; // RowItem padding
@set gridSpacing 5; // Default spacing in grid gallery
@set logoHeight 55; // Defines logo height and menu line height
@set logoHeightTablet 38; // Defines logo height and menu line height
@set menuVerticalPadding 20; // Top and bottom padding of the whole horizontal menu (px)
@set menuPadding 60; // Padding between horizontal menu elements (px)
@set verticalMenuWidth 320; // Width of the vertical menu (px)
@set topBarHeight 43; // Top bar height (px)

@set extrasmallIconSize 21; // Small icon size
@set smallIconSize 30; // Small icon size
@set mediumIconSize 42; // Small icon size
@set bigIconSize 80; // Small icon size
@set largeIconSize 120; // Small icon size

@set dropdownWidth 240px;

/* Aliases */

@selector darkSkinSelector :any(.btDarkSkin, .btLightSkin .btDarkSkin);
@selector lightSkinSelector :any(.btLightSkin, .btDarkSkin .btLightSkin);


/* Reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
audio,
canvas,
video {
    display: block;
}

audio,
canvas,
video {
    display: inline-block;
}

*:focus, * {
    outline: none;
    outline: 0;
}

.touch * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color:  rgba(0, 0, 0, 0);
}

button::-moz-focus-inner {
    border: 0;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

html,body {
	margin:0;
	padding:0;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
}

input, textarea, select {
    outline:none;
	font: inherit;
	/*width: 100%;*/
	background: transparent;
}

textarea {
    padding: 10px;
    resize: vertical;	
}

button {
	font: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: $(accentColor);
}

a img {
    border: none;
}

a, a:active, a:focus {
    outline: none;
}

p, dl, dd, address, cite  {
	margin: 0 0 $(innerVerticalPadding)px;
	/*margin: 0 0 25px;  Should be font size  * line-height */
}

ul, ol {
	padding: 0 0 0 1.2em;
	margin: 0 0 10px 0;
}


li, ul ul, ol ol {
	margin-bottom: 0;
}

dt  {
	font-weight: 600;
}

figcaption {
	font-size: math($(bodyFontSize)-2, px);
}

:any(select, input)  {
	font-family: $(bodyFont);
}

/*html {
    font-size: 62.5%;
}*/

/*input {
    -webkit-appearance: none;
}*/

/* FloatClears */

.mainHeader:after, .menuHolder .port:after, .topBarPort:after, .boldSiteFooter:before, .boldSiteFooter:after, .boldSiteFooter .port:after, .contentWrap:after,
.contentHolder:after, .btBox:after, .boldSection .port:after, .header:after, .boldRow:after, .socialRow:before, .socialRow:after, .servicesItem .sIcon:after,
.boldSection:before, .boldSection:after, .psCats:after, .psWrap:after, .btTabs:after, .tabsHeader:after, .neighboringArticles:after, .socialRow:after,
.articleListItem footer:after, .btPagination:after, .boldArticleBody blockquote:after, .tilesWall.classic .bgiTxt:after, .btQuoteItem:after,
.boldArticleHeader .socialRow:before, .tagcloud:after, .btWorkingHoursInnerRow:after, .btGoogleMapsWrapper:after
{
    content: " ";
    display: table;
    width: 100%;
    clear: both;
}